/* Toast */
/* !Don't remove this!
 * Material Toast plugin styles
 * 
 * Author: Dionlee Uy
 * Email: dionleeuy@gmail.com
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.mdtoast {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 24px;
    bottom: 24px;
    padding: 0 24px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-align: left;
    outline: none;
    pointer-events: auto;
    touch-action: auto;
    /*-moz-user-select: none;*/
    -ms-user-select: none;
    user-select: none;
    background-color: #323232;
    /*-moz-transform: translateY(0);*/
    transform: translateY(0);
    /*-moz-transition: -moz-transform 0.23s 0ms cubic-bezier(0, 0, 0.2, 1);*/
    transition: transform 0.23s 0ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.23s 0ms cubic-bezier(0, 0, 0.2, 1);
    will-change: transform;
    z-index: 100002;
}
    .mdtoast.mdt--load {
        /*-moz-transform: translateY(200%);*/
        transform: translateY(200%);
        /*-moz-transition: -moz-transform 0.23s 0ms cubic-bezier(0.4, 0, 1, 1);*/
        transition: transform 0.23s 0ms cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.23s 0ms cubic-bezier(0.4, 0, 1, 1);
    }
    .mdtoast.mdt--interactive { padding-right: 16px; }
    .mdtoast.mdt--info { background-color: #1565c0; }
    .mdtoast.mdt--error { background-color: #e53935; }
    .mdtoast.mdt--warning { background-color: #ef6c00; }
    .mdtoast.mdt--success { background-color: #2e7d32; }
    .mdtoast .mdt-message {
    	display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 48px;
        padding: 8px 0;
        opacity: 1;
        margin-left: 0;
        /*-moz-box-sizing: border-box;*/
        box-sizing: border-box;
        /*-moz-transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);*/
        transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);
    }
        .mdtoast.mdt--load .mdt-message { opacity: 0; }
        .mdtoast.mdt--interactive .mdt-message { margin-right: auto; }
    .mdtoast .mdt-action {
        display: flex;
        align-items: center;
        color: #ffeb3b;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 0.07em;
        font-weight: 500;
        padding: 8px;
        margin: 0 0 0 24px;
        opacity: 1;
        min-height: 32px;
        background: none;
        border: none;
        outline: none;
        /*-moz-box-sizing: border-box;*/
        box-sizing: border-box;
        /*-moz-border-radius: 4px;*/
        border-radius: 4px;
        /*-moz-transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1);*/
        transition: opacity 0.3s 0ms cubic-bezier(0.4, 0, 1, 1), background-color .15s linear;
    }
        .mdtoast.mdt--load .mdt-action { opacity: 0; }
        .mdtoast .mdt-action:focus, .mdtoast .mdt-action:hover { background-color: #3e3e3e; }
        .mdtoast .mdt-action:active { background-color: #4e4e4e; }
        .mdt--info .mdt-action:focus, .mdt--info .mdt-action:hover { background-color: #1976d2; }
        .mdt--info .mdt-action:active { background-color: #1e88e5; }
        .mdt--error .mdt-action:focus, .mdt--error .mdt-action:hover { background-color: #f44336; }
        .mdt--error .mdt-action:active { background-color: #ef5350; }
        .mdt--warning .mdt-action:focus, .mdt--warning .mdt-action:hover { background-color: #f57c00; }
        .mdt--warning .mdt-action:active { background-color: #fb8c00; }
        .mdt--success .mdt-action:focus, .mdt--success .mdt-action:hover { background-color: #388e3c; }
        .mdt--success .mdt-action:active { background-color: #43a047; }

body.mdtoast--modal { 
	pointer-events: none;
    touch-action: none;
    -ms-user-select: none;
	user-select: none;
}

@media (min-width: 600px) {
    .mdtoast {
        min-width: 288px;
        max-width: 568px;
        /*-moz-border-radius: 4px;*/
        border-radius: 4px;
    }
}

@media (max-width: 599px) {
    .mdtoast {
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 14px;
		max-width: 100%;
        /*-moz-transform: translateY(0);*/
        transform: translateY(0);
    }
        .mdtoast.mdt--load {
            /*-moz-transform: translateY(100%);*/
            transform: translateY(100%);
        }
}